@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    color: #333333;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.slide_title {
    font-family: 'Caveat', cursive;
    font-size: 36px;

}

@media all and (min-width:800px) {
    .slide_title {
        font-size: 38px;
    }
}

.sommaire-title {
    font-size: 24px;
}

@media all and (max-width:800px) {
    .sommaire-title {
        font-size: 20px;
    }
}

#nav-button {
    border-radius: 20px !important;
    height: 30px !important;
    line-height: 28px !important;
    text-transform: none !important;
}

@media all and (min-width:1300px) {
    #sommaire-size {
        width: 60% !important;
    }
}

.adjust-tiny {
    display: none;
}

@media all and (max-width:800px) {
    .adjust-tiny {
        display: initial;
    }
}

.signature {
    position:absolute;
    color: black !important;
    font-size: 16px !important;
    margin-top: 10px;
    right: 8.5%;
}

@media all and (max-width:800px) {
    .signature {
        display: none;
    }
}

.home-sub {
    width: 60%;
    margin: auto;
    text-align: center;
}

.linkmail {
    font-size: 22px !important;
}

/*Tabs Materialize - Custom Background Color While Active*/

.tabs .indicator {
    background-color: #64b5f6 !important;
}

.tabs .tab a:focus.active {
    background-color: rgba(135, 206, 235, 0.25) !important;
    transition: 1s;
}

/*Navbar effect 1 Bounce text*/

.bounce-text {
    display: inline-block;
    transition: 0.5s;
}

.bounce-text:hover {
    animation-name: bounce-text;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes bounce-text {
    16.65% {
        transform: translateX(8px);
    }

    33.3% {
        transform: translateX(-6px);
    }

    49.95% {
        transform: translateX(4px);
    }

    66.6% {
        transform: translateX(-2px);
    }

    83.25% {
        transform: translateX(1px);
    }

    100% {
        transform: translateX(0);
    }
}

/*Navbar effect 2 Hover underline*/

.effet-plus {
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(white, white);
    background-size: 0px 2px, auto;
    background-repeat: no-repeat;
    background-position: center 80%;
    transition: all .2s ease-out;
}

.effet-plus:hover {
    background-size: 80% 1px, auto;
}

#chart-container {
    width: 70%;
    height: auto;
    margin: auto;
}

@media all and (max-width:600px) {
    #chart-container {
        width: 90%;
    }
}

.button-parts {
    text-align: center;
    padding:20px;
}

#bookmark1 {
    font-size: 20px !important;
    border-radius: 15px !important;
}

#bookmark2 {
    font-size: 20px !important;
    border-radius: 15px !important;
}

#bookmark3 {
    font-size: 20px !important;
    border-radius: 15px !important;
}

#chapter-part1 {
    font-size: 22px !important;
    margin-left:7.5%;
    margin-right:7.5%;
}

#chapter-part2 {
    font-size: 22px !important;
    margin-left:7.5%;
    margin-right:7.5%;
}

#chapter-part3 {
    font-size: 22px !important;
    margin-left:7.5%;
    margin-right:7.5%;
}

#chapter-title {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
}

#chapter-title2 {
    font-size: 28px;
    color: #444444;
}

@media all and (max-width:500px) {
    #chapter-title2 {
        font-size: 24px;
    }
}

@media all and (max-width:370px) {
    #chapter-title2 {
        font-size: 22px;
    }
}

@media all and (max-width:330px) {
    #chapter-title2 {
        font-size: 20px;
    }
}

.post-title {
    font-size: 24px !important;
}

.adjust-p {
    font-size: 24px !important;
}

.post-content {
    font-size: 22px !important;
}

input[type=text] {
    font-size: 16px !important;
}

input[type=email] {
    font-size: 16px !important;
}

input[type=password] {
    font-size: 16px !important;
}

#form-comment {
    width: 45%;
    margin: auto;
}

@media all and (max-width:800px) {
    #form-comment {
        width: 90%;
    }
}

#chapter-link {
    width: 60%;
    margin: auto;
    text-align: center;
}

#result-comment {
    width: 60%;
    margin: auto;
}

.chapter-part2 {
    background-color: #f0f0f0;
    margin-bottom: -45px;
}

#ghost0 {
    width: 50%;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
}

@media all and (max-width:800px) {
    #ghost0 {
        width: 90%;
    }
}

#ghost {
    border-radius: 5px;
}

#ghost1 {
    width: 60%;
    margin: auto;
    text-align: center;
}

@media all and (max-width:800px) {
    #ghost1 {
        width: 90%;
    }
}

#ghost2 {
    width: 60%;
    margin: auto;
    text-align: center;
}

@media all and (max-width:800px) {
    #ghost2 {
        width: 90%;
    }
}

#ghost3 {
    position: absolute;
    top: -20px;
    left: 12px;
}

#ghost4 {
    position: absolute;
    top: -20px;
    left: 12px;
}

/*Changement de couleur des dots du Slider Materialize*/

.slider .indicators .indicator-item {
    background-color: #dcdcdc !important;
    z-index: 100;
}

.slider .indicators .indicator-item.active {
    background-color: cornflowerblue !important;

}

/*Ajustement de la taille du slider et des slides Materialize en page d'accueil*/

@media all and (min-width:1300px) {
    .slider {
        height: 540px !important;
    }

    .slides {
        height: 500px !important;
    }
}

.card-reveal {
    text-align: center;
}

#errors {
    text-align: center;
    margin-top: 250px;
}

.adjust-buttons {
    height: 5px;
}

.center-menu {
    margin-top: 30px !important;
    width: 95%;
    margin: auto;
}

@media all and (max-width:600px) {
    .center-menu {
        margin-bottom: 70px !important;
        margin-left: 20px;
    }
}

#title-menu {
    font-size: 20px !important;
}

.centered {
    width: 100%;
    text-align: center;
}

.carousel {
    margin-top: -70px;
}

.carousel-image {
    border: 1px solid #545454;
    height: 270px !important;
    width: 175px !important;

}

/*Pour régler la taille de la page biographie*/
#biographie {
    width: 50%;
    margin: auto;
}

@media all and (max-width:950px) {
    #biographie {
        width: 90%;
    }
}

/*Pour régler la police du formulaire page d'accueil*/
#content {
    border-radius: 10px;
    height: 150px;
    outline: none;
    font-size: 14px;
    padding: 15px;
}

#comment {
    border-radius: 20px;
    height: 150px;
    outline: none;
    font-size: 14px;
    padding: 15px;
}

#random-color {}

#contact-me {
    color: blueviolet;
    width: 70%;
    margin: auto;
}

@media all and (max-width:800px) {
    #contact-me {
        width: 90%;
    }
}

#contact-me2 {
    box-shadow: none !important;
}

input[type=submit] {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

button[type=submit] {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

/*Pour régler la taille des cards reveal en Back Office*/

#admin-size-1 {
    width: 60%;
    margin: auto;
}

@media all and (max-width:800px) {
    #admin-size-1 {
        width: 90%;
    }
}

#admin-size-2 {
    width: 60%;
    margin: auto;
}

@media all and (max-width:800px) {
    #admin-size-2 {
        width: 90%;
    }
}

#admin-size-3 {
    width: 60%;
    margin: auto;
}

@media all and (max-width:800px) {
    #admin-size-3 {
        width: 90%;
    }
}

#admin-size-4 {
    width: 60%;
    margin: auto;
    text-align: center;
}

@media all and (max-width:800px) {
    #admin-size-4 {
        width: 90%;
    }
}

#admin-size-5 {
    width: 60%;
    margin: auto;
    text-align: center;
}

@media all and (max-width:800px) {
    #admin-size-5 {
        width: 90%;
    }
}

#admin-text1 {
    font-size: 24px;
    color: #039be5;
}

@media all and (max-width:800px) {
    #admin-text1 {}
}

#admin-text2 {
    font-size: 18px;
}

@media all and (max-width:800px) {
    #admin-text2 {}
}

#admin-text3 {
    font-size: 18px;
}

@media all and (max-width:800px) {
    #admin-text3 {}
}

/*Effet parallaxe en page d'accueil*/
.parallax {}

.brand-logo {
    margin-top: -20px;
}

@media all and (min-width:993px) {
    .brand-logo {
        margin-left: 60px;
    }
}

.fa-feather-alt {
    color: white;
    font-size: 24px;
}

.feather-logo {
    position: fixed;
    z-index: 1000;
    top: 15px;
    left: 25px;

}

@media all and (max-width:992px) {
    .feather-logo {
        left: 93%;
    }
}

@media all and (max-width:500px) {
    .feather-logo {
        left: 90%;
    }
}

@media all and (max-width:1100px) {
    .scroll {
        display: none !important;
    }
}


h1 {
    font-size: 22px !important;

}

@media all and (max-width:992px) {
    h1 {
        font-size: 20px !important;
    }
}

@media all and (max-width:450px) {
    h1 {
        font-size: 15px !important;
    }
}

@media all and (max-width:350px) {
    h1 {
        font-size: 13px !important;
    }
}

li {
    font-size: 16px !important;
}

a {
    font-size: 16px !important;
}

#bar-text a {
    font-size: 20px !important;
}

.footer-text1 a {
    font-size: 18px !important;
}

#footer-t1 {
    font-size: 22px !important;
}

#footer-t2 {
    font-size: 22px !important;
}

/*Scroll on top button*/

#return-to-top {
    position: fixed;
    bottom: 97px;
    right: 26px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.3);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.5);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

@media all and (max-width:800px) {
    #return-to-top {
        bottom: 24px;
        left: 20px;
    }
}
